@keyframes animation1 {
	from {
		height: 0px;
	}
	to {
		height: 40px;
	}
}

@keyframes animation2 {
	from {
		width: 0px;
	}
	to {
		width: 60px;
	}
}

html,
body {
	margin: 0px;
	font-family: Raleway;
}

input,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#nav {
	background-color: white;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 2;
	transition: 1s;
}

#logo {
	height: 100%;
	margin-right: 10px;
	float: left;
	width: 40px;
}

#logo-text {
	display: inline-block;
	height: 100%;
	font-size: 20px;
	margin: 15px 0px;
}

p {
	margin: 0px;
}

#logo img {
	margin: 5px;
}

#nav-buttons {
	float: right;
	width: 200px;
	height: 100%;
}

#nav-buttons input {
	float: right;
	margin: 10px 10px;
	background: white;
	font-size: 15px;
	padding: 5px 15px;
	border-radius: 20px;
	border: 0px;
	transition: 0.2s;
	font-family: Raleway;
	user-select: none;
}

#nav-buttons input:hover {
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.36);
}

.title {
	position: relative;
	top: 15%;
	;
	height: 150px;
	width: 100%;
}

.title-text {
	display: inline-block;
	font-size: 23px;
	text-align: center;
	font-weight: 50;
	margin-top: 200px;
	width: 100%;
}

.title-animation {
	position: absolute;
	top: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 65%;
}

#animation-container {
	border: 3px solid rgb(0, 140, 255);
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transform: rotate(-45deg);
}

#animation-p1 {
	position: absolute;
	background: rgb(0, 140, 255);
	width: 20px;
	height: 0px;
	margin: 50px 0px 0px 50px;
	animation: animation1 0.2s ease-out 1s 1;
	animation-fill-mode: forwards;
}

#animation-p2 {
	position: absolute;
	background: rgb(0, 140, 255);
	width: 0px;
	height: 20px;
	margin: 70px 0px 0px 50px;
	animation: animation2 0.2s ease-out 1.2s 1;
	animation-fill-mode: forwards;
}

.join-us {
	position: absolute;
	top: 60%;
}

.join-us p {
	width: 300px;
	margin-bottom: 50px;
	margin-left: 30px;
	font-size: 18px;
}

.button {
	display: flex;
	justify-content: center;
	background: white;
	font-size: 15px;
	padding: 10px 70px;
	border-radius: 55px;
	border: 2px solid rgb(0, 140, 255);
	transition: 0.1s;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.26);
	font-family: Raleway;
	margin: 0 10%;
}

.button:hover {
	background: rgb(231, 231, 231);
}

#main {
	height: 100%;
	background: url("Assets/bg.svg") no-repeat bottom right;
	background-size: 90%;
}

.middle {
	height: 4%;
	background: rgb(250, 250, 250);
}

.main-2,
.phone {
	height: 80%;
	margin: 20px auto 40px auto;
	text-align: center;
}

#phone {
	width: 350px;
}

.main-2 img {
	margin: 100px 0px;
	border: 2px solid #555555;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.phone {
	margin: 0px auto 100px auto;
}

.phone img {
	margin: 100px 0px;
}

a {
	color: rgb(0, 140, 255);
	text-decoration: none;
}

.main-title {
	font-size: 23px;
}

#footer {
	text-align: center;
	background: rgb(250, 250, 250);
	padding: 50px;
}

@media only screen and (min-width: 600px) {
	#main {
		background-size: 60%;
	}
	.title {
		position: relative;
		top: 15%;
		;
		height: 150px;
	}
	.title-text {
		display: inline-block;
		font-size: 23px;
		text-align: left;
		font-weight: 50;
		margin-top: 90px;
		margin-left: 350px;
		width: 40%;
	}
	.title-animation {
		position: absolute;
		left: 15%;
		top: 50%;
		height: 65%;
	}
	.main-2 {
		width: 600px;
	}
	.main-2 img {
		width: 60%;
	}
	p:not(.main-title) {
		font-size: 20px;
	}
	.join-us p {
		margin-left: 100px;
		width: 400px;
	}
	.join-us input {
		margin-left: 100px;
	}
	.main-title,
	.title-text {
		font-size: 40px;
	}
	#nav-buttons {
		width: 300px;
	}
	#nav-buttons input {
		font-size: 20px;
	}
	#phone {
		width: 650px;
	}
}