html,body {
  background-color:#FFFFFF;
}

.Task {
  background-color:#EEEEEE;
  transition:0.2s;
}

.title,.description {
  color:black;
}

.Task:hover {
  background-color:#DDDDDD;
}

.finished {
  background-color:#CFCFCF;
}

.finished :not(span) {
    text-decoration:line-through;
}

.deletebtn {
color:black;
transition:0.2s;
border:1.5px solid #121212;
}

.deleteBtn:hover {
  color:#e51c34;
  border:1.5px solid #e51c34;
}
